# Ignore data and large files
data/
outputs/
raw_datasets/
datasets/
*.parquet
*.geojson
*.gpkg
*.zip
*.csv
*.png
*.xlsx
*.osm.pbf
*.pbf

# Ignore cache and temp files
__pycache__/
*.ipynb_checkpoints/
